@font-face{
    font-family: Bebas;
    src: url(Bebas_Neue_Cyrillic.ttf);
}

body{
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

label{
    font-size: 2vw;
    color: #B3B3B3;
}

.certificate {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.certificate__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    width: 100%;
    height: 100%;
}

.certificate__header {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-top: 2%;
}

.certificate__logo {
    width: 10vw;
    height: 10vw;
}
.certificate__logo img {
    width: 100%;
    height: 100%;
}


.certificate__contats {
    display: flex;
    flex-direction: column;
    font-size: 3vw;
    font-weight: 600;
}

.certificate__title {
    display: flex;
    font-family: Bebas;
    font-weight: 600;
    font-size: 14vw;
    text-transform: uppercase;
    flex-wrap: wrap;
    max-width: 40%;
    margin-top: 2%;
}

.certificate__title span {
    color: #20FF23;
}

.certificate__name {
    display: flex;
    margin-top: 4%;
    font-weight: 600;
    font-size: 5vw;
}

.certificate__text {
    font-weight: 400;
    font-size: 2vw;
    margin-top: 6%;
    max-width: 26%;
}

.certificate__number {
    margin-top:4%;
}

.certificate__date {
    margin-top: 2%;
}

.certificate__qrcode{
    display: flex;
    position: absolute;
    left: 73%;
    bottom: 2%;
}
.certificate__qrcode img{
    width: 22vw;
    height: 22vw;
}


.certificate__background {
    width: 100%;
    height: 100%;
}

.date-number{
    font-family: Bebas;
    font-weight: 600;
    font-size: 5vw;
    margin-top: 1%;
}
